html, body {
  background-color: rgba(255, 255, 255, 0.93);
  color: #000000;
  font-size: 16px;
}
#authorname {
  margin-top: 12px;
}

code, pre {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.entry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
  text-align: left;
}

.entry h2, .entry h3, .entry h4, .entry ol, .entry ul, .entry p, .entry pre, .entry blockquote {
  margin-bottom: 14px;
}


.entry .entry-meta {
  color: #999999;
  font-size: 0.9em;
  line-height: 2;
}

#comment {
  margin-top: 20px;
}

.brand-icon {
margin: 5px 15px;
width: 32px;
height: 32px;
}

.brand-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  line-height: 30px;
  background-color: #000;
  opacity: 0.6;
  text-align: center;
}

#weather {
  background-color: #2E93D9;
}

#recent-comments, #recent-comments a {
  color: white;
}
#panorama-scroll-next, #panorama-scroll-prev {
  color: #4F1ACB;
}

#panorama-scroll-prev .win-commandimage,
#panorama-scroll-next .win-commandimage{
  width: 32px;
  height: 32px;
  padding: 0;
  font-family: 'IcoMoon';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  vertical-align: 24%;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: 0;
  color: #4F1ACB;
}

.bg-color-red {
  background-color: #e51400 !important;
}

