---
layout: page
---

<article class="entry" id="{{ page.id }}">
  <header>
    <p class="entry-meta">
      <i aria-hidden="true" class="icon-pen-alt-fill"></i> <time>{{ page.date | date: '%Y-%m-%d' }}</time>
      <i aria-hidden="true" class="icon-folder"></i> <a href="{{root_url}}/categories.html#{{page.categories}}-ref"> {{ page.categories }} </a>
      {% for tag in page.tags %}
        {% if forloop.first%}
          <i aria-hidden="true" class="icon-tag"></i>
        {% endif %}
        {{ tag }} {% if forloop.last == false %}, {% endif %}
      {%endfor%}
      <i aria-hidden="true" class="icon-comments-3"></i> <a href="#comment">comments</a>
    </p>
  </header>
  {{ content }}
</article>

{% if site.duoshuo_show_comment_count == true %}
<section id="comment">
  {% include duoshuo.html %}
</section>
{% endif %}

